<div class="header">
    <div class="l-logo container text-center">
        <div class="logo">
            <img src="images/logo.png" class="img-responsive">
        </div>
        <h1>Hotel Management</h1>
        <h2>A companion that you can trust</h2>
        <div class="dmo" ng-show ="noLogin">
          <button class="btn btn-primary" ng-click="login()">Login</button>
          <button class="btn btn-primary" ng-click="register()">Register</button>
        </div>

        <div class="dmo1" ng-hide ="noLogin">
          <p><span class= "point" ng-click="homeses()">HOME</span>  |  <span class= "point" ng-click="myProfile()">PROFILE</span>  |  <span class= "point" ng-click="myBookings()">BOOKINGS</span>  |  {{user.name| uppercase}} {{user.lastName| uppercase}}</p>
          
          <button class="btn btn-primary" ng-click="logout()">Logout</button>
        </div>
    </div>
</div>

    <div class="col-xs-12 col-md-offset-2 col-md-8" material >
         <div class=" col-xs-12 col-md-offset-2 col-md-8">
            <h3>Make Payment</h3>
        </div>

        <div class="panel panel-default col-xs-12 col-md-offset-2 col-md-8" style="margin-top: 30px;">
            <div class="panel-body">
              <div class="col-xs-12 fluid">
                <div class="col-xs-12">
                    <div class="" style="margin-top: 1px;">
                        <div class="panel-body" style="margin-bottom: 5px">
                            <div>

                                 <p style="margin-bottom: 10px; margin-left: 25px"><h4>Amount to pay: $ {{payAmt}}</h4></p>   
                            </div> 
                                 <div>                                     
                                        <div class="col-xs-12 ">
                                            <label>Choose payment option:</label>
                                              <select class="form-control" name="Category" ng-model="payType">
                                                  <option value="">Select Payment Option</option>
                                                  <option value="MasterCard">Master Card</option>
                                                  <option value="CreditCard">Credit Card</option>
                                                  <option value="PayPal">Pay Pal</option>
                                                  <option value="SamsungPay">Samsung Pay</option>
                                                  <option value="ApplePay">Apple Pay</option>
                                              </select>
                                        </div>
                                 <hr/>
                                </div>
                            
                            <div>
                              <button ng-click="pay(payAmt, payType)" class="btn btn-primary btn-raised"> PAY</button>
                            </div>
                            
                         </div>              
                    </div>
                </div>
              </div>            
            </div>          
        </div>
    </div>
